airflow_etl_demo/dags/XSD/XML12_GIAM_DINH_YK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 12 - Giám định y khoa (DSACH_GIAM_DINH_Y_KHOA)
      QĐ 4750/QĐ-BYT - Array
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="DSACH_GIAM_DINH_Y_KHOA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GIAM_DINH_Y_KHOA" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="MA_LK" type="xs:string"/>
              <xs:element name="STT" type="xs:integer"/>
              <xs:element name="SO_GIAMDINHYK" type="xs:string"/>
              <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
              <xs:element name="SO_LUU_TRU" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BHXH" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
              <xs:element name="HO_TEN" type="xs:string"/>
              <xs:element name="NGAY_SINH" type="xs:string"/>
              <xs:element name="SO_CCCD" type="xs:string" minOccurs="0"/>
              <xs:element name="GIOI_TINH" type="xs:integer"/>
              <xs:element name="NOI_LAM_VIEC" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_GIAMDINHYK" type="xs:string"/>
              <xs:element name="MUC_DO_TAT" type="xs:decimal" minOccurs="0"/>
              <xs:element name="PHAN_LOAI_TAT" type="xs:string" minOccurs="0"/>
              <xs:element name="CHAN_DOAN" type="xs:string"/>
              <xs:element name="MA_BENH" type="xs:string"/>
              <xs:element name="KET_LUAN_GIAMDINHYK" type="xs:string"/>
              <xs:element name="HOI_DONG_GIAMDINHYK" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_VAO" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_RA" type="xs:string" minOccurs="0"/>
              <xs:element name="SO_NGAY_DTRI" type="xs:integer" minOccurs="0"/>
              <xs:element name="NGAY_HEN_TAIKHAM" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
              <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
              <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
