airflow_etl_demo/dags/XSD/XML10_TRUYEN_MAU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_TRUYENMAU">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_TRUYEN_MAU">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_TRUYEN_MAU" type="ChiTietTruyenMauType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietTruyenMauType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="MA_DICH_VU" type="xs:string"/>
      <xs:element name="MA_THANH_PHAN_MAU" type="xs:string"/>
      <xs:element name="TEN_THANH_PHAN_MAU" type="xs:string"/>
      <xs:element name="DON_VI_TINH" type="xs:string"/>
      <xs:element name="SO_LUONG" type="xs:decimal"/>
      <xs:element name="DON_GIA" type="xs:decimal"/>
      <xs:element name="THANH_TIEN" type="xs:decimal"/>
      <xs:element name="MA_NHOM_MAU" type="xs:string" minOccurs="0"/>
      <xs:element name="SO_DANG_KY_TIEM" type="xs:string" minOccurs="0"/>
      <xs:element name="TT_THAU" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_TRUYEN" type="xs:string"/>
      <xs:element name="MA_BAC_SI_CHI_DINH" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_BAC_SI_THUC_HIEN" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_BENH" type="xs:string" minOccurs="0"/>
      <xs:element name="LY_DO_TRUYEN" type="xs:string" minOccurs="0"/>
      <xs:element name="PHAN_UNG_SAU_TRUYEN" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
