airflow_etl_demo/dags/XSD/XML14_VTYT_THAY_THE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_VTYT_THAYTHE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_VTYT_THAY_THE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_VTYT_THAY_THE" type="ChiTietVTYTThayTheType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietVTYTThayTheType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="MA_VTYT" type="xs:string"/>
      <xs:element name="TEN_VTYT" type="xs:string"/>
      <xs:element name="LOAI_VTYT" type="xs:integer"/>
      <xs:element name="MA_NHOM_VTYT" type="xs:string" minOccurs="0"/>
      <xs:element name="DON_VI_TINH" type="xs:string"/>
      <xs:element name="SO_LUONG" type="xs:decimal"/>
      <xs:element name="DON_GIA" type="xs:decimal"/>
      <xs:element name="THANH_TIEN" type="xs:decimal"/>
      <xs:element name="TT_THAU" type="xs:string" minOccurs="0"/>
      <xs:element name="NUOC_SAN_XUAT" type="xs:string" minOccurs="0"/>
      <xs:element name="NHA_SAN_XUAT" type="xs:string" minOccurs="0"/>
      <xs:element name="SO_DANG_KY" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_SAN_XUAT" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_HET_HAN" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_SU_DUNG" type="xs:string"/>
      <xs:element name="MA_BAC_SI" type="xs:string" minOccurs="0"/>
      <xs:element name="VI_TRI_SU_DUNG" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
