airflow_etl_demo/dags/XSD/XML14_HEN_KHAM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="CHI_TIEU_GIAYHEN_KHAMLAI">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_GIAYHEN_KL" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_CSKCB" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_SINH" type="xs:string" minOccurs="0"/>
        <xs:element name="GIOI_TINH" type="xs:string" minOccurs="0"/>
        <xs:element name="DIA_CHI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
        <xs:element name="GT_THE_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO_NOI_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_RA" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_HEN_KL" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_CHINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_KT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_YHCT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DOITUONG_KCB" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BAC_SI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
