airflow_etl_demo/dags/XSD/XML13_CHUYEN_TUYEN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="CHI_TIEU_GIAYCHUYENTUYEN">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_HOSO" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_CHUYENTUYEN" type="xs:string" minOccurs="0"/>
        <xs:element name="GIAY_CHUYEN_TUYEN" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_CSKCB" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NOI_DI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NOI_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_SINH" type="xs:string" minOccurs="0"/>
        <xs:element name="GIOI_TINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_QUOCTICH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DANTOC" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NGHE_NGHIEP" type="xs:string" minOccurs="0"/>
        <xs:element name="DIA_CHI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
        <xs:element name="GT_THE_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO_NOI_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_RA" type="xs:string" minOccurs="0"/>
        <xs:element name="DAU_HIEU_LS" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="QT_BENHLY" type="xs:string" minOccurs="0"/>
        <xs:element name="TOMTAT_KQ" type="xs:string" minOccurs="0"/>
        <xs:element name="PP_DIEUTRI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_CHINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_KT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_YHCT" type="xs:string" minOccurs="0"/>
        <xs:element name="TEN_DICH_VU" type="xs:string" minOccurs="0"/>
        <xs:element name="TEN_THUOC" type="xs:string" minOccurs="0"/>
        <xs:element name="PP_DIEU_TRI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LOAI_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LYDO_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="HUONG_DIEU_TRI" type="xs:string" minOccurs="0"/>
        <xs:element name="PHUONGTIEN_VC" type="xs:string" minOccurs="0"/>
        <xs:element name="HOTEN_NGUOI_HT" type="xs:string" minOccurs="0"/>
        <xs:element name="CHUCDANH_NGUOI_HT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BAC_SI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
