airflow_etl_demo/dags/XSD/XML15_LAO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="CHI_TIEU_DIEUTRI_BENHLAO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHITIET_DIEUTRI_BENHLAO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHITIET_DIEUTRI_BENHLAO" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
                    <xs:element name="STT" type="xs:string" minOccurs="0"/>
                    <xs:element name="MA_BN" type="xs:string" minOccurs="0"/>
                    <xs:element name="HO_TEN" type="xs:string" minOccurs="0"/>
                    <xs:element name="SO_CCCD" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHANLOAI_LAO_VITRI" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHANLOAI_LAO_TS" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHANLOAI_LAO_HIV" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHANLOAI_LAO_VK" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHANLOAI_LAO_KT" type="xs:string" minOccurs="0"/>
                    <xs:element name="LOAI_DTRI_LAO" type="xs:string" minOccurs="0"/>
                    <xs:element name="NGAYBD_DTRI_LAO" type="xs:string" minOccurs="0"/>
                    <xs:element name="PHACDO_DTRI_LAO" type="xs:string" minOccurs="0"/>
                    <xs:element name="NGAYKT_DTRI_LAO" type="xs:string" minOccurs="0"/>
                    <xs:element name="KET_QUA_DTRI_LAO" type="xs:string" minOccurs="0"/>
                    <xs:element name="MA_CSKCB" type="xs:string" minOccurs="0"/>
                    <xs:element name="NGAYKD_HIV" type="xs:string" minOccurs="0"/>
                    <xs:element name="BDDT_ARV" type="xs:string" minOccurs="0"/>
                    <xs:element name="NGAY_BAT_DAU_DT_CTX" type="xs:string" minOccurs="0"/>
                    <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
