airflow_etl_demo/dags/XSD/XML1_TONGHOP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TONG_HOP">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
        <xs:element name="STT" type="xs:integer" minOccurs="0"/>
        <xs:element name="MA_BN" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_CCCD" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_SINH" type="xs:string" minOccurs="0"/>
        <xs:element name="GIOI_TINH" type="xs:integer" minOccurs="0"/>
        <xs:element name="NHOM_MAU" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_QUOCTICH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DANTOC" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NGHE_NGHIEP" type="xs:string" minOccurs="0"/>
        <xs:element name="DIA_CHI" type="xs:string" minOccurs="0"/>
        <xs:element name="MATINH_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="MAHUYEN_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="MAXA_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="DIEN_THOAI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DKBD" type="xs:string" minOccurs="0"/>
        <xs:element name="GT_THE_TU" type="xs:string" minOccurs="0"/>
        <xs:element name="GT_THE_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_MIEN_CCT" type="xs:string" minOccurs="0"/>
        <xs:element name="LY_DO_VV" type="xs:string" minOccurs="0"/>
        <xs:element name="LY_DO_VNT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LY_DO_VNT" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_VAO" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_CHINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_KT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_YHCT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_PTTT_QT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DOITUONG_KCB" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NOI_DI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NOI_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TAI_NAN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_VAO_NOI_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_RA" type="xs:string" minOccurs="0"/>
        <xs:element name="GIAY_CHUYEN_TUYEN" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_NGAY_DTRI" type="xs:integer" minOccurs="0"/>
        <xs:element name="PP_DIEU_TRI" type="xs:string" minOccurs="0"/>
        <xs:element name="KET_QUA_DTRI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LOAI_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_TTOAN" type="xs:string" minOccurs="0"/>
        <xs:element name="T_THUOC" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_VTYT" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_TONGCHI_BV" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_TONGCHI_BH" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BNTT" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BNCCT" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BHTT" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_NGUONKHAC" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BHTT_GDV" type="xs:decimal" minOccurs="0"/>
        <xs:element name="NAM_QT" type="xs:string" minOccurs="0"/>
        <xs:element name="THANG_QT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LOAI_KCB" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_KHOA" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_CSKCB" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_KHUVUC" type="xs:string" minOccurs="0"/>
        <xs:element name="CAN_NANG" type="xs:string" minOccurs="0"/>
        <xs:element name="CAN_NANG_CON" type="xs:string" minOccurs="0"/>
        <xs:element name="NAM_NAM_LIEN_TUC" type="xs:integer" minOccurs="0"/>
        <xs:element name="NGAY_TAI_KHAM" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_HSBA" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
