airflow_etl_demo/dags/XSD/XML10_GIAY_NGHI_THAI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="CHI_TIEU_DU_LIEU_GIAY_NGHI_DUONG_THAI">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_NGAY" type="xs:string" minOccurs="0"/>
        <xs:element name="DON_VI" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="TU_NGAY" type="xs:string" minOccurs="0"/>
        <xs:element name="DEN_NGAY" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="TEN_BS" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BS" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
