airflow_etl_demo/dags/XSD/XML11_GIAY_NGHI_BHXH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="CHI_TIEU_DU_LIEU_GIAY_CHUNG_NHAN_NGHI_VIEC_HUONG_BAO_HIEM_XA_HOI">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_KCB" type="xs:string" minOccurs="0"/>
        <xs:element name="DON_VI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BHXH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
        <xs:element name="PP_DIEUTRI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DINH_CHI_THAI" type="xs:string" minOccurs="0"/>
        <xs:element name="NGUYENNHAN_DINHCHI" type="xs:string" minOccurs="0"/>
        <xs:element name="TUOI_THAI" type="xs:string" minOccurs="0"/>
        <xs:element name="SO_NGAY_NGHI" type="xs:string" minOccurs="0"/>
        <xs:element name="TU_NGAY" type="xs:string" minOccurs="0"/>
        <xs:element name="DEN_NGAY" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN_CHA" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN_ME" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BS" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_TAM" type="xs:string" minOccurs="0"/>
        <xs:element name="MAU_SO" type="xs:string" minOccurs="0" fixed="CT07"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
