airflow_etl_demo/dags/XSD/XML14_HEN_KHAM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 14 - Giấy hẹn khám lại (DSACH_GIAY_HEN_KHAM_LAI)
      QĐ 4750/QĐ-BYT - Array
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="DSACH_GIAY_HEN_KHAM_LAI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GIAY_HEN_KHAM_LAI" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MA_LK" type="xs:string"/>
              <xs:element name="STT" type="xs:integer"/>
              <xs:element name="SO_GIAY_HEN" type="xs:string"/>
              <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
              <xs:element name="HO_TEN" type="xs:string"/>
              <xs:element name="NGAY_SINH" type="xs:string"/>
              <xs:element name="GIOI_TINH" type="xs:integer" minOccurs="0"/>
              <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
              <xs:element name="DIA_CHI" type="xs:string" minOccurs="0"/>
              <xs:element name="CHAN_DOAN" type="xs:string"/>
              <xs:element name="MA_BENH" type="xs:string"/>
              <xs:element name="NGAY_HEN" type="xs:string"/>
              <xs:element name="LOAI_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="KHOA_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_KHOA_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="BS_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BS_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="NOI_DUNG_HEN" type="xs:string" minOccurs="0"/>
              <xs:element name="BS_CHI_DINH" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BS_CHI_DINH" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_CAP" type="xs:string"/>
              <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
              <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
              <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
