airflow_etl_demo/dags/XSD/XML12_THUOC_UNG_THU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_THUOC_UNGTHU">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_THUOC_UNG_THU">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_THUOC_UNG_THU" type="ChiTietThuocUngThuType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietThuocUngThuType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="MA_THUOC" type="xs:string"/>
      <xs:element name="TEN_THUOC" type="xs:string"/>
      <xs:element name="HAM_LUONG" type="xs:string" minOccurs="0"/>
      <xs:element name="DON_VI_TINH" type="xs:string"/>
      <xs:element name="SO_LUONG" type="xs:decimal"/>
      <xs:element name="DON_GIA" type="xs:decimal"/>
      <xs:element name="THANH_TIEN" type="xs:decimal"/>
      <xs:element name="MA_BENH_UNG_THU" type="xs:string" minOccurs="0"/>
      <xs:element name="PHUONG_PHAP_DIEU_TRI" type="xs:string" minOccurs="0"/>
      <xs:element name="DIEN_TICH_THAN_THE" type="xs:decimal" minOccurs="0"/>
      <xs:element name="CAN_NANG" type="xs:decimal" minOccurs="0"/>
      <xs:element name="SO_LAN_DIEU_TRI" type="xs:integer" minOccurs="0"/>
      <xs:element name="NGAY_DIEU_TRI" type="xs:string"/>
      <xs:element name="MA_BAC_SI" type="xs:string" minOccurs="0"/>
      <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
