airflow_etl_demo/dags/XSD/XML13_CHUYEN_TUYEN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 13 - Giấy chuyển tuyến (DSACH_GIAY_CHUYEN_TUYEN)
      QĐ 4750/QĐ-BYT - Array
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="DSACH_GIAY_CHUYEN_TUYEN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GIAY_CHUYEN_TUYEN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MA_LK" type="xs:string"/>
              <xs:element name="STT" type="xs:integer"/>
              <xs:element name="SO_GIAY_CT" type="xs:string"/>
              <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
              <xs:element name="SO_LUU_TRU" type="xs:string" minOccurs="0"/>
              <xs:element name="HO_TEN" type="xs:string"/>
              <xs:element name="NGAY_SINH" type="xs:string"/>
              <xs:element name="GIOI_TINH" type="xs:integer"/>
              <xs:element name="MA_THE_BHYT" type="xs:string"/>
              <xs:element name="DIA_CHI" type="xs:string"/>
              <xs:element name="MA_CSKCB_CHUYEN" type="xs:string"/>
              <xs:element name="TEN_CSKCB_CHUYEN" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_CSKCB_NHAN" type="xs:string"/>
              <xs:element name="TEN_CSKCB_NHAN" type="xs:string" minOccurs="0"/>
              <xs:element name="CHAN_DOAN_RV" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BENH_CHINH" type="xs:string"/>
              <xs:element name="MA_BENH_KEM" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BENH_YHCT" type="xs:string" minOccurs="0"/>
              <xs:element name="TOM_TAT_KQ" type="xs:string" minOccurs="0"/>
              <xs:element name="PP_DIEUTRI" type="xs:string" minOccurs="0"/>
              <xs:element name="LY_DO_CHUYEN" type="xs:string"/>
              <xs:element name="LOAI_CHUYEN_TUYEN" type="xs:string" minOccurs="0"/>
              <xs:element name="HUONG_DIEU_TRI" type="xs:string" minOccurs="0"/>
              <xs:element name="PHUONG_TIEN_VC" type="xs:string" minOccurs="0"/>
              <xs:element name="NGUOI_HO_TONG" type="xs:string" minOccurs="0"/>
              <xs:element name="BS_CHI_DINH" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BS_CHI_DINH" type="xs:string" minOccurs="0"/>
              <xs:element name="TRUONG_KHOA" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_TRUONG_KHOA" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_CT" type="xs:string"/>
              <xs:element name="NGAY_CHUYEN" type="xs:string" minOccurs="0"/>
              <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
              <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
