airflow_etl_demo/dags/XSD/XML11_GIAY_NGHI_BHXH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 11 - Giấy nghỉ việc hưởng BHXH (GIAY_NGHI_VIEC_HUONG_BHXH)
      QĐ 4750/QĐ-BYT - Single Object
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="GIAY_NGHI_VIEC_HUONG_BHXH">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MA_LK" type="xs:string"/>
        <xs:element name="SO_GIAY_NGHI" type="xs:string"/>
        <xs:element name="SO_SERI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BHXH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_THE_BHYT" type="xs:string" minOccurs="0"/>
        <xs:element name="HO_TEN" type="xs:string"/>
        <xs:element name="NGAY_SINH" type="xs:string"/>
        <xs:element name="SO_CCCD" type="xs:string" minOccurs="0"/>
        <xs:element name="GIOI_TINH" type="xs:integer" minOccurs="0"/>
        <xs:element name="NOI_LAM_VIEC" type="xs:string"/>
        <xs:element name="CHAN_DOAN" type="xs:string"/>
        <xs:element name="MA_BENH" type="xs:string"/>
        <xs:element name="PP_DIEUTRI" type="xs:string" minOccurs="0"/>
        <xs:element name="TU_NGAY" type="xs:string"/>
        <xs:element name="DEN_NGAY" type="xs:string"/>
        <xs:element name="SO_NGAY_NGHI" type="xs:integer"/>
        <xs:element name="SO_NGAY_NGHI_NUA" type="xs:integer" minOccurs="0"/>
        <xs:element name="LY_DO_NGHI" type="xs:string" minOccurs="0"/>
        <xs:element name="LOAI_NGHI" type="xs:integer"/>
        <xs:element name="LOAI_HINH_NGHI" type="xs:string" minOccurs="0"/>
        <xs:element name="BS_CHI_DINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BS_CHI_DINH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TTDV" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_CAP" type="xs:string"/>
        <xs:element name="NGAY_CHUNG_TU" type="xs:string" minOccurs="0"/>
        <xs:element name="NOI_CAP" type="xs:string" minOccurs="0"/>
        <xs:element name="GHI_CHU" type="xs:string" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
