airflow_etl_demo/dags/XSD/XML1_TONGHOP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 1 - Tổng hợp KCB (TONG_HOP)
      QĐ 4750/QĐ-BYT - 65 fields
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="TONG_HOP">
    <xs:complexType>
      <xs:sequence>
        <!-- Primary Key -->
        <xs:element name="MA_LK" type="xs:string"/>
        <xs:element name="STT" type="xs:integer" minOccurs="0"/>
        
        <!-- Thông tin bệnh nhân -->
        <xs:element name="MA_BN" type="xs:string"/>
        <xs:element name="HO_TEN" type="xs:string"/>
        <xs:element name="SO_CCCD" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_SINH" type="xs:string"/>
        <xs:element name="GIOI_TINH" type="xs:integer"/>
        <xs:element name="NHOM_MAU" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_QUOCTICH" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DANTOC" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NGHE_NGHIEP" type="xs:string" minOccurs="0"/>
        <xs:element name="DIA_CHI" type="xs:string" minOccurs="0"/>
        <xs:element name="MATINH_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="MAHUYEN_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="MAXA_CU_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="DIEN_THOAI" type="xs:string" minOccurs="0"/>
        
        <!-- Thông tin thẻ BHYT -->
        <xs:element name="MA_THE_BHYT" type="xs:string"/>
        <xs:element name="MA_DKBD" type="xs:string" minOccurs="0"/>
        <xs:element name="GT_THE_TU" type="xs:string"/>
        <xs:element name="GT_THE_DEN" type="xs:string"/>
        <xs:element name="NGAY_MIEN_CCT" type="xs:string" minOccurs="0"/>
        <xs:element name="LY_DO_MIEN_CCT" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_DU_5NAM" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_KV" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_KHUVUC" type="xs:string" minOccurs="0"/>
        
        <!-- Thông tin KCB -->
        <xs:element name="MA_KHOA" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_CSKCB" type="xs:string"/>
        <xs:element name="MA_LOAI_KCB" type="xs:integer"/>
        <xs:element name="MA_NOI_DI" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_NOI_DEN" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_TAI_NAN" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_DOITUONG_KCB" type="xs:string" minOccurs="0"/>
        
        <!-- Thông tin chẩn đoán -->
        <xs:element name="MA_BENH_CHINH" type="xs:string"/>
        <xs:element name="MA_BENH_KEM" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_BENH_YHCT" type="xs:string" minOccurs="0"/>
        <xs:element name="TEN_BENH" type="xs:string" minOccurs="0"/>
        <xs:element name="TOM_TAT_KQ" type="xs:string" minOccurs="0"/>
        <xs:element name="PP_DIEUTRI" type="xs:string" minOccurs="0"/>
        <xs:element name="GHI_CHU_DT" type="xs:string" minOccurs="0"/>
        <xs:element name="MA_LOAI_RV" type="xs:string" minOccurs="0"/>
        
        <!-- Ngày giờ -->
        <xs:element name="NGAY_VAO" type="xs:string"/>
        <xs:element name="NGAY_VAO_NOI_TRU" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_RA" type="xs:string"/>
        <xs:element name="NGAY_TTOAN" type="xs:string" minOccurs="0"/>
        <xs:element name="NGAY_CT" type="xs:string" minOccurs="0"/>
        
        <!-- Kết quả điều trị -->
        <xs:element name="SO_NGAY_DTRI" type="xs:integer" minOccurs="0"/>
        <xs:element name="KET_QUA_DTRI" type="xs:integer" minOccurs="0"/>
        <xs:element name="TINH_TRANG_RV" type="xs:integer" minOccurs="0"/>
        <xs:element name="HUONG_DIEU_TRI" type="xs:string" minOccurs="0"/>
        
        <!-- Chi phí -->
        <xs:element name="T_TONGCHI" type="xs:decimal"/>
        <xs:element name="T_TONGCHI_BV" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_TONGCHI_BH" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_NGOAIDM" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BHTT" type="xs:decimal"/>
        <xs:element name="T_BNCCT" type="xs:decimal"/>
        <xs:element name="T_BNTT" type="xs:decimal"/>
        <xs:element name="T_NGUONKHAC" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_KHAM" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_CDHA" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_XETNGHIEM" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_THUOC" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_MAU" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_PTTT" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_DVKT_TYLE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_THUOC_TYLE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_KHAM_TYLE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_VTYT_TYLE" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_GIUONG" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_VCHUYEN" type="xs:decimal" minOccurs="0"/>
        <xs:element name="T_BNTT_VTYT" type="xs:decimal" minOccurs="0"/>
        
        <!-- Thông tin khác -->
        <xs:element name="NAM_QT" type="xs:integer"/>
        <xs:element name="THANG_QT" type="xs:integer"/>
        <xs:element name="MA_LOAIKCB" type="xs:integer" minOccurs="0"/>
        <xs:element name="MA_HSBA" type="xs:string" minOccurs="0"/>
        <xs:element name="CAN_NANG" type="xs:decimal" minOccurs="0"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
