airflow_etl_demo/dags/XSD/XML6_CSDT_HIVAIDS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>
      Bảng 6 - Hồ sơ HIV/AIDS (HO_SO_HIV_AIDS)
      QĐ 4750/QĐ-BYT
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="DSACH_HO_SO_HIV_AIDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="HO_SO_HIV_AIDS" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MA_LK" type="xs:string"/>
              <xs:element name="STT" type="xs:integer"/>
              <xs:element name="MA_BN_HIV" type="xs:string"/>
              <xs:element name="VI_TRI_LAY_MAU" type="xs:string" minOccurs="0"/>
              <xs:element name="TEN_XET_NGHIEM" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_XET_NGHIEM" type="xs:string" minOccurs="0"/>
              <xs:element name="KET_QUA_XET_NGHIEM" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_XET_NGHIEM" type="xs:string" minOccurs="0"/>
              <xs:element name="LOAI_XET_NGHIEM" type="xs:string" minOccurs="0"/>
              <xs:element name="LAN_XET_NGHIEM" type="xs:integer" minOccurs="0"/>
              <xs:element name="NGAY_BDDT_ARV" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_KT_ARV" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_PHAC_DO_DTRI" type="xs:string" minOccurs="0"/>
              <xs:element name="TEN_PHAC_DO" type="xs:string" minOccurs="0"/>
              <xs:element name="NHOM_DTRI" type="xs:string" minOccurs="0"/>
              <xs:element name="LY_DO_CHUYEN_PHAC_DO" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_BENH_KEM_HIV" type="xs:string" minOccurs="0"/>
              <xs:element name="TEN_BENH_KEM_HIV" type="xs:string" minOccurs="0"/>
              <xs:element name="NGAY_CHUYEN_PHAC_DO" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_CSKCB_BDDT" type="xs:string" minOccurs="0"/>
              <xs:element name="MA_CSKCB" type="xs:string" minOccurs="0"/>
              <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
