airflow_etl_demo/dags/XSD/XML6_CSDT_HIVAIDS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_HIVAIDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_HIVAIDS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_HIVAIDS" type="ChiTietHIVAIDSType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietHIVAIDSType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="MA_BN_HIV" type="xs:string"/>
      <xs:element name="LOAI_DIEU_TRI" type="xs:integer"/>
      <xs:element name="LAN_XET_NGHIEM" type="xs:integer" minOccurs="0"/>
      <xs:element name="NGAY_XET_NGHIEM" type="xs:string" minOccurs="0"/>
      <xs:element name="KET_QUA_XET_NGHIEM" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_CSDT_HIV" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_BD_ARV" type="xs:string" minOccurs="0"/>
      <xs:element name="PHAC_DO_DIEU_TRI" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_BENH_HIV" type="xs:string" minOccurs="0"/>
      <xs:element name="TINH_TRANG_DTRI" type="xs:integer" minOccurs="0"/>
      <xs:element name="CD4" type="xs:decimal" minOccurs="0"/>
      <xs:element name="VIRAL_LOAD" type="xs:decimal" minOccurs="0"/>
      <xs:element name="NGAY_TAI_KHAM" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
