airflow_etl_demo/dags/XSD/XML7_DUOC_LUU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_DUOCLUU">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_DUOC_LUU">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_DUOC_LUU" type="ChiTietDuocLuuType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietDuocLuuType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="SO_HIEU_BHXH" type="xs:string"/>
      <xs:element name="MA_THUOC" type="xs:string"/>
      <xs:element name="TEN_THUOC" type="xs:string"/>
      <xs:element name="HAM_LUONG" type="xs:string" minOccurs="0"/>
      <xs:element name="SO_LUONG" type="xs:decimal"/>
      <xs:element name="DON_VI_TINH" type="xs:string"/>
      <xs:element name="DON_GIA" type="xs:decimal"/>
      <xs:element name="THANH_TIEN" type="xs:decimal"/>
      <xs:element name="MA_BAC_SI" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_CHI_DINH" type="xs:string"/>
      <xs:element name="NGAY_DIEU_TRI" type="xs:string"/>
      <xs:element name="MA_BENH_CHINH" type="xs:string" minOccurs="0"/>
      <xs:element name="SO_NGAY_DUOC_LUU" type="xs:integer"/>
      <xs:element name="LY_DO_DUOC_LUU" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
