airflow_etl_demo/dags/XSD/XML8_CHAN_DOAN_HINH_ANH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="CHITIEU_CHITIET_CHANDOANHINHANH">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DSACH_CHI_TIET_CDHA">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CHI_TIET_CDHA" type="ChiTietCDHAType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ChiTietCDHAType">
    <xs:sequence>
      <xs:element name="MA_LK" type="xs:string"/>
      <xs:element name="STT" type="xs:integer"/>
      <xs:element name="MA_DICH_VU" type="xs:string"/>
      <xs:element name="TEN_DICH_VU" type="xs:string"/>
      <xs:element name="LOAI_CDHA" type="xs:integer"/>
      <xs:element name="VI_TRI_CHUP" type="xs:string" minOccurs="0"/>
      <xs:element name="SO_PHIM" type="xs:integer" minOccurs="0"/>
      <xs:element name="MA_MAY_CDHA" type="xs:string" minOccurs="0"/>
      <xs:element name="MO_TA_KQ" type="xs:string" minOccurs="0"/>
      <xs:element name="KET_LUAN_CDHA" type="xs:string" minOccurs="0"/>
      <xs:element name="NGAY_CHUP" type="xs:string"/>
      <xs:element name="NGAY_DOC_KQ" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_BS_DOC_KQ" type="xs:string" minOccurs="0"/>
      <xs:element name="MA_BS_CHI_DINH" type="xs:string" minOccurs="0"/>
      <xs:element name="DUONG_LINK_HINH_ANH" type="xs:string" minOccurs="0"/>
      <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
