airflow_etl_demo/dags/XSD/XML8_TOM_TAT_HSBA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="CHI_TIEU_DU_LIEU_TOM_TAT_HO_SO_BENH_AN">
    <xs:complexType>
      <xs:all>
        <xs:element name="MA_LK" type="xs:string"/>
        <xs:element name="MA_LOAI_KCB" type="xs:string"/>
        <xs:element name="HO_TEN_CHA" type="xs:string"/>
        <xs:element name="HO_TEN_ME" type="xs:string"/>
        <xs:element name="NGUOI_GIAM_HO" type="xs:string"/>
        <xs:element name="DON_VI" type="xs:string"/>
        <xs:element name="NGAY_VAO" type="xs:string"/>
        <xs:element name="NGAY_RA" type="xs:string"/>
        <xs:element name="CHAN_DOAN_VAO" type="xs:string"/>
        <xs:element name="CHAN_DOAN_RV" type="xs:string"/>
        <xs:element name="QT_BENHLY" type="xs:string"/>
        <xs:element name="TOMTAT_KQ" type="xs:string"/>
        <xs:element name="PP_DIEUTRI" type="xs:string"/>
        <xs:element name="NGAY_SINHCON" type="xs:string"/>
        <xs:element name="NGAY_CONCHET" type="xs:string"/>
        <xs:element name="SO_CONCHET" type="xs:string"/>
        <xs:element name="KET_QUA_DTRI" type="xs:string"/>
        <xs:element name="GHI_CHU" type="xs:string"/>
        <xs:element name="MA_TTDV" type="xs:string"/>
        <xs:element name="NGAY_CT" type="xs:string"/>
        <xs:element name="MA_THE_TAM" type="xs:string"/>
        <xs:element name="DU_PHONG" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
